/* For Media Query Only */

@media screen and   (max-width: 500px) {
    .nav-bar img {
        width: 130px;
    }

    .nav-bar .nav-items ul li:nth-child(4){
        display: none;
    }   

    .nav-bar .social-icons {
        display: none;
    }
}

/* On smaller screens, decrease text size (W3School) */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }