/* Global Styling*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background: #444; */
}

h1 {
  text-align: center;
}
/* Styling The Nav Bar */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    height: 12vh;
}

.nav-items ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
}

.nav-items ul li a {
    text-decoration: none;
}

.current {
  color: orange;
}
/* End Styling The Nav Bar */
/* Slide Section */
/* .slide-container {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 2400px;
    height: 600px;
    position: relative;
    transition: all 2s ease-in-out;
}

.slider-image {
    float: left;
    margin: 0;
    padding: 0;
}

.btn-container {
    position: relative;
    top: -30px;    
}

.slider-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
}

#slider-image-1:target ~ .image-container {
    left: 0;
}

#slider-image-2:target ~ .image-container {
    left: -800px;
}

#slider-image-3:target ~ .image-container {
    left: -1600px;
} */
/* End Slide Section */

/* W3school Slide */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;   /* AE the max-width from 1000px to 100% */
  position: relative;
  /* margin: auto; */  /* AE*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 230px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* AE adjust the dots so it will be over the slider at the edge of the end */
.adjust-dots {
    position: relative;
    top: -50px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* End W3School Slider */

/* Gallery Section */
.gallery {
  display: grid;
  grid-template-areas: 'img img img';
  grid-gap: 30px;
  /* justify-content: space-evenly; */
}

.gallery-images p {
  padding-top: 20px;
}
/* End Gallery Section */

/* About El Fanar Section */

.about-elfanar {
  background: #003057;
  height: 730px;
}

/* .small-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

.for-elfanar {
  padding-top: 60px;
}

.small-container {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
}

.text-left {
  margin-left: 200px;
  margin-right: 5px;
  margin-top: 10px;
}

.right-image {
  margin-right: 200px;
  margin-left: 5px;
  margin-top: 10px;
}

/* Footer - Contact Form */

.contact-form {
  border: 3px solid #444;
  margin: 0 30px;
  margin-top: 10vh;
  border-radius: 40px;
  box-shadow: 2px 5px 10px 8px #444;
}